* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container__father01 {
  position: relative;
  width: 1440px;
  height: 2391px;
  border: 1px solid black;
  background: white;
  margin: auto;
}
.none{
  display: none;
}
